
$main: #2966ff;
$p: #637ca5;
$h: #1a324f;
$secondary: #ffd2d2;
$img-bg: #e1ecff;

$mobile: "(max-width: 768px)";

#article {
	p {
		margin: 0 auto;
		max-width: 700px;
		font-size: 1.3125rem;
	}
}

#article-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	.article-banner {
		width: 100%;
		max-height: 50%;
		overflow: hidden;
		display: inline-block;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.article-header-content {
		max-width: 700px;
		margin: 50px auto 30px;
		h1 {
			font-size: 3.4375rem;
			font-weight: 500;
			margin-bottom: 0px;
			line-height: 100%;
			color: $h;
		}
		h2 {
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 5px 0 0 0;
		}
		.link-section {
			margin-top: 30px;
			margin-bottom: 40px;
			p {
				font-size: 1rem;
				margin-bottom: 15px;
			}
			a:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
}
.article-project-link {
	margin: 24px 0px;
	a {
		font-size: 0.875rem;
		padding: 15px 25px;
		border-radius: 3px;
		text-transform: uppercase;
		color: white;
		letter-spacing: 2px;
		background-color: $main;
		font-weight: 700;
		position: relative;
		display: inline-block;
		top: 0px;
		transition: background-color .2s ease-in-out, 
		color .2s ease-in-out,
		top .2s ease-in-out;
		&:hover {
			background-color: #0f4191;
			color: $secondary;
			top: 5px;
			&:before {
				top: 0px;
			}
		}
		&:before {
			content: '';
			height: 100%;
			width: 100%;
			background-color: #0f4191;
			top: 5px;
			left: 0;
			border-radius: 3px;
			position: absolute;
			z-index: -1;
			transition: top .2s ease-in-out; 
		}
	}
}
#article-extended {
	margin: 50px 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.article-image {
		width: 100%;
		max-height: 50%;
		overflow: hidden;
		display: inline-block;
		margin-bottom: 50px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.link-section {
		margin-top: 20px;
		margin-bottom: 50px;
		a:not(:last-child) {
			margin-right: 15px;
		}
	}
	h2 {
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 15px 0 0 0;
		color: $h;
		max-width: 700px;
	}
	p {
		margin-bottom: 20px;
	}
	.article-gallery {
		margin-top: 10px;
		h2 {
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		.article-gallery-container {
			margin: 50px 0px;
			display: flex;
			flex-direction: row;
			flex-flow: row wrap;
			justify-content: flex-start;
			cursor: pointer;
			.article-gallery-image {
				width: calc(100% / 3);
				img {
					padding: 10px;
					width: 100%;
					transition: opacity .2s ease-in-out;
					&:hover {
						opacity: .7;
					}
				}
			}
		}
	}
}