$main: #2966ff;
$p: #637ca5;
$h: #1a324f;
$secondary: #ffd2d2;
$img-bg: #e1ecff;

$mobile: "(max-width: 500px)";
$tablet: "(max-width: 768px)";

#article {
	p {
		margin: 0 auto;
		max-width: 700px;
		font-size: 1.3125rem;
	}
	.link-section {
		@media #{$mobile} {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		a:not(:last-child) {
			margin-right: 15px;
			@media #{$mobile} {margin: 0 0 15px;}
		}
	}
	.tiny-btn {
		@media #{$mobile} {
			font-size: 1rem;
			text-align: center;
		}
	}
	.nav.fixed {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		background-color: white;
		z-index: 10;
		border-top: 5px solid $secondary;
		box-shadow: 0px 0px 15px 0px rgba(246, 140, 140, 0.3);
		h3 {
			padding: 15px 80px;
			@media #{$mobile} {padding: 15px 4vh;}
			max-width: 1200px;
			margin-bottom: 0px;
		}
		.name {
			margin: 0 auto;
		}
	}
	.fill {
		height: 80px;
	}
}

#article-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	.article-banner {
		width: 100%;
		max-height: 50%;
		overflow: hidden;
		display: inline-block;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.article-header-content {
		max-width: 700px;
		margin: 50px auto 0px;
		h1 {
			font-size: 4rem;
			font-weight: 500;
			margin-bottom: 10px;
			margin-top: 0px;
			line-height: 100%;
			color: $h;
		}
		h2 {
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 5px 0 0 0;
		}
		.link-section {
			margin-top: 30px;
			margin-bottom: 40px;
			p {
				margin-bottom: 15px;
			}
		}
	}
}
.article-project-link {
	display: inline-block;
	margin: 1.5rem 1rem .25rem 0rem;
	a {
		font-size: 0.875rem;
		padding: 15px 25px;
		border-radius: 3px;
		text-transform: uppercase;
		color: white;
		letter-spacing: 2px;
		background-color: $main;
		font-weight: 700;
		position: relative;
		display: inline-block;
		top: 0px;
		transition: background-color .2s ease-in-out, 
		color .2s ease-in-out,
		top .2s ease-in-out;
		@media #{$mobile} { 
			display: block;
			text-align: center;
		}
		&:hover {
			background-color: #0f4191;
			color: $secondary;
			top: 5px;
			&:before {
				top: 0px;
			}
		}
		&:before {
			content: '';
			height: 100%;
			width: 100%;
			background-color: #0f4191;
			top: 5px;
			left: 0;
			border-radius: 3px;
			position: absolute;
			z-index: -1;
			transition: top .2s ease-in-out; 
		}
	}
}
#article-extended {
	margin: 50px 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.article-image {
		width: 100%;
		max-height: 50%;
		overflow: hidden;
		display: inline-block;
		margin: 50px 0px;
		img {
			max-width: 100%;
			height: auto;
			cursor: pointer;
		}
		.caption {
			font-size: 1rem;
			opacity: .8;
			text-align: center;
			font-style: italic;
			margin-top: 5px;
			margin-bottom: 0px;
		}
	}
	.link-section {
		margin-top: 20px;
		margin-bottom: 50px;
	}
	h2 {
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 15px 0;
		color: $h;
		max-width: 700px;
	}
	h3 {
		font-size: 1rem;
		margin: 15px 0 0 0;
		color: $h;
	}
	p {
		margin-bottom: 20px;
	}
	.article-text {
		ul { 
			max-width: 700px;
			li {
				line-height: 160%;
				font-size: 1.3125rem;
			}
		}
		p > a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.breakout {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: nowrap;
		margin: 50px 0px;
		@media #{$tablet} {flex-wrap: wrap}
		.breakout-image {
			img {
				width: 100%;
			}
		}
		.caption {
			max-width: 40%;
			margin: 0 0 0 40px;
			@media #{$tablet} {margin: 40px 0 0 0; max-width: 100%;}
			a {
				text-decoration: none; 
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.article-gallery {
		h2 {
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		.article-gallery-container {
			margin: 50px 0px;
			display: flex;
			flex-direction: row;
			flex-flow: row wrap;
			justify-content: space-around;
			.article-gallery-image {
				width: calc((100% / 3) - .4rem);
				margin-bottom: .4rem;
				cursor: pointer;
				img {
					-webkit-backface-visibility: hidden;
					position: relative;
					width: 100%;
					transition: opacity .2s ease-in-out;
					&:hover {
						opacity: .7;
					}
				}
			}
			&.video {
				.article-video {
					width: calc(33% - .1rem);
					margin-bottom: .2rem;
					video {
						width: 100%;
					}
				}
			}
		}
	}
}