@import "base.css";

$main: #2966ff;
$p: #637ca5;
$h: #1a324f;
$secondary: #ffd2d2;

$mobile: "(max-width: 768px)";
$desktop: "(min-width: 769px)";

$trans: cubic-bezier(0.455, 0.03, 0.515, 0.955);

.work {
}
.topper > * {
	display: block;
	width: 105px;
	margin: 15px auto;
	text-align: center;
}
.topper {
	margin: 30px;
	padding: 1px;
}
.project-list {
	.project-list-item {
		margin: 0 auto 250px;
		max-width: 1027px;
		@media #{$mobile} {
			margin-bottom: 100px;
		}
		a {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			@media #{$mobile} {
				flex-direction: column;
			}
			.thumbnail { 
				position: relative;
				.wrapper {
					max-width: 800px;
					&:before {
						content:'';
						background-color: #c9ddff;
						height: 100%;
						width: 100%;
						position: absolute;
						z-index: -1;
						opacity: .5;
					}
				}
				@media #{$mobile} {
					margin: 0 0 30px 0;
				}
				img {
					display: block;
					max-width: 100%;
					transition: transform .2s $trans;
				}
			}
			.info {
				.wrapper {
					max-width: 320px;
					margin-right: 30px;
					position: relative;
					@media #{$mobile} {
						margin: 0px;
						max-width: none;
					}
				}
				@media #{$mobile} {
					margin: 0px;
					width: 100%;
				}
				.number {
					font-size: 11.625rem;
					font-family: 'IBM Plex Mono', sans-serif;
					color: $secondary;
					opacity: .5;
					z-index: -1;
				}
				h3 {
					color: $p;
					font-size: .75rem;
					margin: 0px;
					bottom: 0px;
					margin-bottom: 10px;
				}
				h2 {
					color: $h;
					font-size: 2.25rem;
					margin: 0;
					margin-bottom: 5px;
					line-height: 120%;
					display: inline-block;
					font-weight: 900;
					transition: color .2s $trans;
					@media #{$mobile} {
						font-size: 8vw;
					}
				}
				.title-head {
					display: block;
					position: relative;
				}
				.faux-link {
					font-size: .75rem;
					color: $main;
					transition: all .2s ease-in-out;
					position: relative;
					font-family: 'IBM Plex Mono', sans-serif;
					&:before {
						content:'';
						position: absolute;
						top: 35%;
						right: -11px;
						width: 4px;
						height: 4px;
						border-left: 1px solid $main;
						border-bottom: 1px solid $main; 
						transform: rotate(225deg);
						will-change: right, transform;
						transition: right .2s $trans;
					}
					&:after {
						content: '';
						position: absolute;
						height: 1px;
						width: 0%;
						background-color: $main;
						left: 0;
						bottom: -3px;
						transition: width .2s ease-in-out;
					}
				}
			}
			/*on hover for item*/
			&:hover {
				.info {
					h2 {
						color: $main;
					}
					.faux-link {
						&:after {
							width: 100%;
						}
						&:before {
							right: -14px;
						}
					}
				}
				.thumbnail {
					img {
						transform: scale(1.025);
					}
				}
			}
		}
		&:nth-child(even) {
			@media #{$desktop} {
				.info {
					order: 2;
					margin: 0px 0px 0px 50px;
					* {
						text-align: left;
					}
				}
			}
			.thumbnail {
				p, .title-head {
					text-align: right;
				}
			}
			//translates inward for odd ones
			a {
				&:nth-child(odd){
					&:hover{
						.thumbnail {
							img {
								transform: scale(1.025);
							}
						}
					}
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		@media #{$mobile} {
			.info {
				order: 1;
			}
		}
	}
}
.weight {
	z-index: -1;
	&:before {
		content: "0" attr(data-num);
		font-size: 11.625rem;
		font-family: 'IBM Plex Mono', sans-serif;
		color: $secondary;
		opacity: .5;
		position: absolute;
		top: -6rem;
		line-height: 100%;
		z-index: -1;
		@media #{$mobile} {
			content: '';
		}
	}
}
