<div class="about">
    <p>Hi~👋 I'm PJ! Creating functional digital experiences gives me the chills and I find fulfillment in having fun with what I make.
  <p>Currently looking for brand or product design opportunities. Previously at <a href="http://www.mtv.com/" target="_blank">MTV</a>, <a href="http://www.vh1.com/" target="_blank">VH1</a>, and <a href="http://studentaffairs.rutgers.edu/">Rutgers University</a>.</p>
  <p class="read-more-section"> 
    I try all sorts of stuff but always try to have fun with what I'm making. Studied Information Technology and Informatics and Computer Science at Rutgers University. <br>--<br> I'm currently unavailable for freelance gigs, but if you wanna chat about anything, send me an email! ✌️ 
  </p>
  <a href="" class="read-more">read more</a>
  <div class="divider"></div>
  <div class="about-links">
    <div class="labels">
      <span>email:</span>
      <span>twitter:</span>
      <span>github:</span>
      <span>dribbble:</span>
    </div>
    <div class="links">
      <a onclick="copy('#copy')" onmouseleave="remove('#copy')" id="copy">pj@pjrosa.com</a>
      <a href="http://twitter.com/probably_pj" target="_blank">@probably_pj</a>
      <a href="https://github.com/de-Mote/" target="_blank">@de-Mote</a>
      <a href="https://dribbble.com/goodjobpj" target="_blank">@goodjobpj</a>
    </div>
  </div>
</div>
<div class="work">
      <%= partial "projects-list", locals: { projects: data.work_items.projects, path: "work"} %>
</div>